body {
    background-attachment: fixed;
    background-repeat:no-repeat;
    color: white;
    text-align: center;
    
}

#container_index {
    background-image: url("../apparence/background2.jpg");
    background-size: 100%;
}

#container_game {
    background-image: url("../apparence/images/background_game.jpg");
}

div {
    margin-top: 175px;
}


menu {
    text-align: center;
}

audio  {
    display: inline-block;
    margin-bottom: 40px;
    
}

a:link    {color:white; }
a:visited {color:white; }
a:hover   {color:white; }
a:active  {color:white;  }

#spirite {
    position: fixed;
    top: 0;
}

body {overflow-x: hidden}


#score {
    color: purple;
}